.nav{
    color: white;
}
.nav:hover{
    color: green;
}

.text-success{
    color: #5ee4a3;
 }
 .btn-download{
     background-color: #5ee4a3;
 }

 .btn-download:hover{
    background-color: #34B36E;
 }

 .border-green{
     border-color: #5ee4a3;
 }
 .text-green{
     color: #5ee4a3;  
 }

 .bg-dark2{
    background-color: #0E131F;
 }


 body, html { 
    margin:0; 
    padding:0; 
    height:100%; 
  }


  footer { 
    width:100%; 
  }
